@import "theme";

:host {
  display: block;

  nav {
    height: 48px;
    background-color: mat-color(map-get($cm-theme, primary));
  }

  button.mat-button {
    display: inline-block;
    height: 100%;
  }
}