<nav fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let resource of settlement.resources" class="resource">
        <img [src]="resource.type | typesToIcons" [alt]="resource.type | typesToIcons">
        {{ resource.amount }}
    </div>
    <div fxFlex></div>
    <button mat-button (click)="toggleSide()" *ngIf="isOwner">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="back()" *ngIf="!isOwner">
        <mat-icon>arrow_back</mat-icon>
    </button>
</nav>
