@import "variables";

:host {
  display: block;

  .building {
    position: relative;

    .level {
      position: absolute;
      bottom: $defaultGap;
      right: $defaultGap;
    }

    button {
      padding-bottom: $defaultGap;
    }

    mat-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}