:host {
  display: block;
  background: wheat;
  position: relative;
  background-image: url("/assets/background.png");
  background-size: 100% 100%;

  .train-sold {
    position: absolute;
    top: 22%;
    left: 62%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .hire-work {
    position: absolute;
    top: 45%;
    left: 51%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  button {
    position: relative;
    border-radius: 0;

    mat-progress-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }
  }
}